<h1>Hello There <%= @donator.email %></h1>
<h2>this is donators/users/show</h2>
<p><%= link_to "Edit your profile", edit_donator_path %></p>
<p><a href="/donators/<%= params[:donator_id] %>/destroy">Delete your account</a></p>
