<h1>Welcome to Feed The Need</h1>

<p class="emphasis">We, as a society, are more and more becoming cashless and dependent upon electronic transactions. A shortfall of this situation is that people in need are deprived; more frequently, people no longer have those couple of dollars or loose change in their purse or pocket to help them out.</p>
<h3>Do you need help? </h3>
<a href="needy/new">Sign-up</a><br>

<h3>Do you want to help?</h3>
<a href="donators/new">Sign-up</a>

<h3>Already have an account? Please Login Below:</h3>
<a href="/login">Login</a><br>
