<h1>Welcome to Feed The Need</h1>

<p>Do you need help? </p>
<a href="/login">Login</a><br>
<a href="needy/new">Sign-up</a><br>

<p>Do you want to help?</p>
<a href="/login">Login</a><br>
<a href="donators/new">Sign-up</a>
