/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
 dark blue #1e6694;
 blue black #103852;
 sea foam green #7fc0ae
 marine green #267a77
 grey blue #275775
 burnt orange #9f5c26
 grey brown #cbae89
 light cyan #b9edf8
 cyan #61d0e7

 */


 body {
   font-family: 'Roboto', sans-serif;
   background-color: #ffffff;
   color: #103852;
   margin: 0;
 }

 nav {
   background-color: #1e6694;
   padding: 4em 1.5em;
   font-weight: 700;
   color: #c9edf5;
   text-transform: uppercase;
   background-image: url("alley_bw.jpg");
   background-position: center;
 }

 nav a {
   text-decoration-line: none;
   color: #c9edf5;
 }

 nav img {
   opacity: 0.5;
 }

 #content {
   width: 80%;
   margin: 2.5em auto 2em auto;
   background-color: none;
 }

 #content a {
   background-color: #267a77;
   display: inline-block;
   padding: .6em .8em;
   margin: .25em;
   text-decoration: none;
   text-transform: uppercase;
   font-size: .8em;
   color: white;
 }

ul  {
  padding: 0;
}

li {
  list-style-type: none;
  font-size: 1.2em;
  font-weight: 700;
  border: 1px solid;
  padding: 1em;
  text-transform: capitalize;
  margin-top: .5em;
}

input {
  margin-top: 1.5em;
}

textarea {
  margin-top: 1.5em;
  font-family: Roboto;
  width: 200px;
  height: 80px;
}

h1  {
  border-bottom: 1px solid;
  padding-bottom: .5em;
}

h2  {
  margin-top: 1em;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
}


.error {
  margin-top: .5em;
  color: white;
  padding: 1em;
  background-color: #a31637;
  border-radius: 10px;
}

.field_with_errors {
  color: red;
}

.field_with_errors input {
  border-color: red;
}

.about {
  font-size: 1.1em;
  width: 80%
}

.bio {
  width: 80%;
}

.needy_list {
  padding-bottom: 1.5em;
}

.needy_list h4 {
  font-size: 1.2em;
  margin-bottom: 0;
  border-bottom: solid 1px;
  padding-bottom: .25em;
}

.activity {
  background-color: #b9edf8;
  padding: 1em;
  border-radius: 10px;
  margin: 2em 0;
}

.footer {
  padding-top: .5em;
  margin-top: 3em;
  color: #888;
  border-top: 1px solid #bbb;
}
